.bg-custom-2 {
  background-image: linear-gradient(15deg, #154360 0%, #743b80 100%);
  }
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #7249b3;
    animation: loader 6s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 4s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  .card-header{
    z-index:3;
    position:relative;
  }
  .card-header-color{
    background: white !important;
  }
  #likebutton{
    z-index:3;
    position:relative;
  }
  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
body {
  padding-top: 80px;
  padding-bottom: 10px;
}
  .card-body{
    width:100%;
    height:280px;
  }
  .card-footer{
    background: white !important;
    align-items: left;
    height: 100%;
  }
  img {
      max-width: 100%;
      max-height: 100%;
  }
  #imgContainer{
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .img-cover {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  .center {
    text-align: center;
  }
  .card:hover{
    box-shadow: 2px 2px 10px #E6E9EC;
}
#singleItemImage{
  box-shadow: 3px 3px 10px #E6E9EC;

}
#itemDay{
  margin-bottom: 0 !important;
  } 
  #itemName{
    margin-bottom: 0 !important;

  }
  .modal-backdrop {
    background-color: black;
 }
 .footer{
   padding-top: 50px;
   padding-bottom: 10px;
 }
 #sellerLabel{
  display:inline-block;
  padding-bottom: 10px;
 }
 #okButton{
  background-color: #5f4282 !important;
  border-color: rgb(255, 255, 255)
 }
 #toLogin{
  background-color: #5f4282 !important;
  border-color: rgb(255, 255, 255)
 }
 .breadcrumb{
  background-color: #ffffff !important;

 }
 #buyButton{
  padding-left: 50px;
 }