.navbar {
  border-bottom: solid 1px #EBEBEB;
}
.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
  color: #EBEBEB;
}
.nav-link,
.bottom-nav-link {
  color: #e83c3c;
}
.bottom-nav-link.active {
  transition: border-bottom .5s ease-in-out;
  color: #ff5f25;
}
.bottom-tab-label {
  font-size: 12px;
}

.page {
  padding: 20px;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {

  background: rgb(255, 255, 255);
  padding: 5px;
  width: 30vw;
  height: 20vh;
  margin-top: 10px;
  line-height: 150px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 3em;
  text-align: center;
}

.flex-menu{
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-menuitem{
  display: flex;  
  flex-flow: row wrap;
  margin-top: 5px;
  width: 128px;
  padding: 25px;
  justify-content: space-around;
  
}

.flex-text
{
  display: flex;
  flex-flow: wrap;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: -20px;
  justify-content: center;
}

#wrapper {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 40vw;
}

.img{
  width: 10%
}

.card-img-top{
  width:10%;
  height:auto;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}



  .logo {
    width:50%;
    height:auto;  
  }

  .title {
    width:'95%';
    height: '10%';
    justify-content: 'center';
    vertical-align: 'center';
    background: #F2F2F2;
  }

  .cardfooter {
        border: #F1F1F1;
        background: #fff;
        justify-content: 'space-between';
        bottom: 10;
        width:'85%';
        height: '10%';
        flex: 'row';
  }

  itemcard {
    justify-content: 'space-between';
    flex: 'column';
    align-items: 'center';
    border-radius: 10;
    background: #ffffff;
    margin: 3;
    height: 250;
    text-align: 'center';
    max-width: '50%';                                        
  }

  btnContainerStyle {
    background: #FFA500;
    width: 40;
    border: 100;
  }

  btnContainerStyle2 {
    width: 35,
  }

  btnTextStyle {
    color: #ffffff;
    font-size: 14;
  }

  btnTextStyle2 {
    color: #FF7019;
    font-size: 16;
    text-transform: 'uppercase';
    text-align: 'center';
    font-weight: "bold";
  }

  iconStyle {
    color: #ffffff;
    text-align: 'center';
    font-weight: "bold";
    font-size: 20,
}